# This Jinja Template defines a network firewall that can
# be applied to a given network.

resources:
- name: {{env["name"]}}-allow-web
  type: compute.v1.firewall
  properties:
    network: {{properties["network"]}} 
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: {{properties["protocol"]}}
      ports: ["80", "443", "3306"]
- name: {{env["name"]}}-allow-ssh
  type: compute.v1.firewall
  properties:
    network: {{properties["network"]}}
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: TCP
      ports: ["22"]